# python
*.pyc
**/__pycache__/
.pytest_cache/*
.pydevproject

# IDE
.vscode/*

# Pip
*.egg-info

# files
*.log
*.pkl
*.jpg
*.pcd
*.ipynb
*.ckpt
*.npz
*.gz
*.npy

# exp
exp

# data
dataset
goalflow_data
checkpoint

# lsf
*.bsub

# running scripts
scripts_dev/*
